CREATE INDEX IF NOT EXISTS idx_loss_reports_status ON loss_reports(status);
CREATE INDEX IF NOT EXISTS idx_destruction_requests_status ON destruction_requests(status);
CREATE INDEX IF NOT EXISTS idx_procurement_requests_status ON procurement_requests(status);
